.mainInfo {
  box-shadow: var(--textShadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 10px;
  margin: 0 30px;
  border-radius: 5px;
  background-color: var(--formsBGColorWithOpasity);
}
