:root {
  --choosenFullColor: aqua;
  --mainFullColor: rgba(255, 255, 255, 0.87);
  --formsBGColorWithOpasity: rgba(240, 255, 255, 0.231);
  --textShadow: -1px -1px 5px #ffffff;
}
body {
  background-color: rgba(27, 98, 156, 0.507);
}
.App {
  position: relative;

  padding: 0 20px;
  max-width: 800px;
  height: 700px;
  border: 2px solid black;
  color: var(--mainFullColor);
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  text-shadow: -6px -10px 15px #cecdc3;
}
